.dot {
    height: 12px;
    width: 12px;
    background-color: #9e9c9c;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.dot-2 {
    height: 12px;
    width: 12px;
    background-color:black;
    border-radius: 50%;
    display: inline-block;
}
