.section-title {
    padding-top: 60px;
    padding-bottom: 30px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
    }
    p {
        color: #F94D1C;
        margin-bottom: 10px;
    }

    h2 {
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 25px;   
        @media (min-width: 768px) {
            color: #191919;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 40px;    
        }
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}