.footer-bar {
    background-color: #0E1021;
    border-top: 1px solid #414040;
    .container {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        .rights-bar {
            display: none;
            @media (min-width: 1200px) {
                display: block;
                color: #FFFFFF;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 400;
            }
        }

        .media-social {

            a {
                color: #FFFFFF;
                font-size: 1.3rem;
                margin-left: 10px;

                 &:hover {
                        color: #191919;
                }
            }
        }

    }
}