.error-page {
    img {
        width: 100%;
        position: relative;
        z-index: -1;
    }
    button {
        position: absolute;
        top: 150px;
        left: 845px;
        z-index: 0;
        background-color: yellow;
        border: 1px solid #191919;
        color: #e40000;
        text-decoration: none;
        padding: 50px 100px;
        font-weight: 600;
        font-size: 16px;
        border-radius: 25px;
    
        i {
            margin-left: 8px;
            font-size: 0.9em;
        }
    
        &:hover {
            background-color: #FFFFFF;
            border: 1px solid #191919;
            color: #191919;
            box-shadow: 5px 5px 3px 2px #414040;
            cursor: pointer;
        }
    }
}